<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        Copyright 2020-2025, Collabora, Ltd.
        SPDX-License-Identifier: BSL-1.0
    -->

    <!-- Cardboard QR code scanner. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application
        android:requestLegacyExternalStorage="true">
        <activity android:name=".QrScannerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Monado"/>
    </application>

</manifest>
